.footer-wrapper {
  background: #000000;
  padding: 2em 0;
}

p,
strong,
h3 {
  color: #fafafa;
}

.divider {
  height: 1px;
  width: 100%;
  background: #fafafa;
}

.footer-header {
  p,
  strong {
    font-size: 13px;
  }
}
