<div class="newspaper-wrapper">
  <div class="newspaper-container container">
    <div class="user-info">
      <div class="left-side">
        <img
          src="assets/images/profile-picture-holder.png"
          alt="Profile picture"
          class="profile-picture"
        />
      </div>
      <div class="right-side">
        <p>Articles for</p>
        <strong>{{ "john" | titlecase }} {{ "doe" | uppercase }}</strong>
      </div>
    </div>
    <div class="newspaper-header">
      <h1>General Newspaper</h1>
    </div>
    <div class="divider">
      <strong>Resources you follow</strong>
      <button>Edit who you follow</button>
    </div>
  </div>
</div>
