<div class="newspaper-wrapper">
  <div class="newspaper-container container">
    <div class="user-info">
      <div class="left-side">
        <img
          src="assets/images/profile-picture-holder.png"
          alt="Profile picture"
          class="profile-picture"
        />
      </div>
      <div class="right-side">
        <p>Articles for</p>
        <strong>{{ "john" | titlecase }} {{ "doe" | uppercase }}</strong>
      </div>
    </div>
    <div class="newspaper-header">
      <h1>Sports Newspaper</h1>
    </div>
    <div class="divider">
      <strong>RESOURCES YOU FOLLOW</strong>
      <button>Edit who you follow</button>
    </div>
    <div class="following section">
      <ng-container *ngFor="let article of mockupData">
        <app-article-card
          [name]="article.name"
          [category]="article.category"
          [title]="article.title"
          [content]="article.content"
          [imageUrl]="article.imageUrl"
        ></app-article-card>
        <div class="card-divider"></div>
      </ng-container>
    </div>
    <div class="divider section-divider">
      <strong>THINGS YOU MIGHT FIND INTERESTING</strong>
    </div>
    <div class="suggestions section">
      <ng-container *ngFor="let article of mockupData">
        <app-article-card
          [name]="article.name"
          [category]="article.category"
          [title]="article.title"
          [content]="article.content"
          [imageUrl]="article.imageUrl"
        ></app-article-card>
        <div class="card-divider"></div>
      </ng-container>
    </div>
  </div>
</div>
