<div class="newspaper-wrapper">
  <div class="newspaper-container container">
    <div class="user-info">
      <div *ngIf="user; else connexion">
        <div class="left-side">
          <img
            src="assets/images/profile-picture-holder.png"
            alt="Profile picture"
            class="profile-picture"
          />
        </div>
        <strong>{{ user.name | titlecase }}</strong>
      </div>
      <ng-template #connexion>
        <div>
          <button routerLink="/login">Connexion</button>
        </div>
      </ng-template>
      <div class="right-side">

      </div>
    </div>
    <div class="newspaper-header">
      <h1>Sports Newspaper</h1>
    </div>
    <div class="divider">
      <strong>RESOURCES YOU FOLLOW</strong>
    </div>
    <div class="following section">
      <ng-container *ngFor="let article of articles">
        <app-article-card [article]="article"></app-article-card>
        <div class="card-divider"></div>
      </ng-container>
    </div>
  </div>
</div>
