<div class="backoffice-wrapper">
  <div class="backoffice-container container">
    <div class="create-article">
      <h1>Create/Edit Article</h1>
      <form class="form">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            id="title"
            class="form-control"
            [(ngModel)]="article.titre"
            name="title"
            placeholder="e.g. The Economy of the United States"
            required
          />
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea
            id="content"
            class="form-control"
            [(ngModel)]="article.corp"
            name="content"
            rows="6"
            placeholder="Your article content here..."
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label for="tags">Tags</label>
          <select name="tag" id="tag" [(ngModel)]="article.categorie_id">
            <option *ngFor="let categorie of categoriesList" [value]="categorie.id">{{categorie.nom}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="image">Image URL</label>
          <input
            type="text"
            id="image"
            class="form-control"
            [(ngModel)]="article.image"
            name="image"
            placeholder="https://"
          />
        </div>
        <div class="form-group">
          <label for="gpsStreetMapTag">GPS Street Map Tag</label>
          <input
            type="text"
            id="gpsStreetMapTag"
            class="form-control"
            [(ngModel)]="localisation.x"
            name="gpsStreetMapTag"
            placeholder="longitude"
          />
          <input
            type="text"
            class="form-control"
            [(ngModel)]="localisation.y"
            name="gpsStreetMapTag"
            placeholder="latitude"
          />
        </div>
        <div class="form-group">
          <label for="premium">Article Premium</label>
          <input
            type="checkbox"
            id="premium"
            class="form-control"
            [(ngModel)]="article.premium"
          />
        </div>
        <div class="form-group">
          <label for="visible">Article Visible</label>
          <input
            type="checkbox"
            id="visible"
            class="form-control"
            [(ngModel)]="article.visible"
            checked
          />
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Publish</button>
      </form>
      <p *ngIf="successSaved">Article added successfully</p>
    </div>
    <div class="user-list" *ngIf="isLoggedUserAdmin">
      <app-user-list></app-user-list>
    </div>
  </div>
</div>
