.footer-wrapper {
  background: #e6e6e6;
  padding: 2em 0;
}

p,
strong,
h3 {
  color: #292929;
}

.divider {
  height: 1px;
  width: 100%;
  background: #292929;
}

.footer-header {

  p,
  strong {
    font-size: 13px;
  }
}