.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
  width: 90%;
}

.badge {
  background-color: #ccc;
  padding: 2px 5px;
  border-radius: 10px;
}

.list-group {
  overflow-y: scroll;
  height: 80vh;
}
